
<div class="title">
  <h3> Enter zipcode or politican name </h3>
</div>
<div class ="search">
<%= form_tag search_path, method: :get do %>
<%= text_field_tag 'keyword', nil %>
<%= submit_tag "Search", :class => 'button' %>
<% end %>
</div>
